@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "ol/ol.css";

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}